#contact, #header, #navfloat, #main, #footer, #chat, .main-wrapper, .post-body, #Blog1 {
    display: none !important;
  }
  
  body {
    background: #fff !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
  }
